body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a3a975ad;
  overflow: hidden;
}
svg {
  margin: 0;
  /* filter: drop-shadow(0px 0px 1px white); */
  padding: 0;
}
.art {
  /* max-width: 800px; */
  /* margin: auto; */
  /* margin-top: 200px; */
  /* border: 1px yellowgreen dotted; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
